NEMU/
GEM5/
nexus-am/
openperf/
ready-to-run/
*/build/
riscv64-nemu-interpreter-c1469286ca32-so
compile_commands.json
.cache/
result/
.bashrc
.bash_history
.viminfo
dramsim3*
test_logs
analysis_plots
venv
